<div class="jumbotron">
  <div class="row">
    <div class="">
      <ui-select ng-model="firstItem.selected" on-select="firstItemSelected($item, $model)" theme="selectize" >
        <ui-select-match placeholder="Select a search criteria...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="firstItem in firstList | filter: $select.search">
          <span>{{firstItem}}</span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="">
      <ui-select ng-model="secondItem.selected" on-select="secondItemSelected($item, $model)" theme="selectize" ng-disabled="secondDisabled" >
        <ui-select-match placeholder="Select another...">{{$select.selected.name || $select.selected}}</ui-select-match>
        <ui-select-choices repeat="secondItem in secondList track by $index | filter: $select.search">
          <span>{{secondItem.name || secondItem}}</span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="">
      <ui-select ng-show="longList" ng-model="thirdItem.selected" on-select="thirdItemSelected($item, $model)" theme="selectize" ng-disabled="thirdDisabled" >
        <ui-select-match placeholder="Select another...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="thirdItem in thirdList track by $index | filter: $select.search">
          <span>{{thirdItem.name}}</span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <br/>

  <div class="results">
    <div ng-show="loading">loading</div>
    <ul class="list-group">
        <li ng-repeat="result in matchResults" class="list-group-item">
            <span ng-bind-html="result.string | removeEmpty"></span>
            <div class="shareContainer" ng-show="gotMatchResults" ng-controller="shareCtrl">
              <span
              socialshare
              socialshare-provider="twitter"
              socialshare-text="I just found something cool on pokogram! {{result.shareText}} - "
              socialshare-url="http://pokomon.herokuapp.com">
              Twitter
              </span> 
              <span ng-click="fbShare()">
              FB
              </span> 
            </div>
        </li>
    </ul>
  </div>

</div>
